@import "tailwindcss";

.m-0 {
  margin: 0px !important;
}

.side-bar-header {
  padding: 10px;
  margin: 0px;
  color: whitesmoke;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #f5f5f5;
}

main {
  flex: 1 0 auto;
}

.login-container {
  margin-top: 5%;
}

.card {
  padding: 20px;
}

.system-title {
  font-weight: bold;
  font-size: 2rem;
  color: #2196f3;
}

.system-text {
  margin-bottom: 20px;
  color: #555;
}